.projectContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;

  gap: 150px;

  overflow: hidden;

  &__head {
    width: 100%;
    display: flex;

    &--info {
      display: flex;
      width: 608px;
      height: 1480px;

      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      position: relative;
      overflow: auto;

      .wrapper {
        display: flex;
        flex-direction: column;

        width: 300px;
        position: fixed;

        .title {
          color: var(--body-color);
          text-align: center;

          font-family: var(--font-cormorant);
          font-size: 48px;
          font-style: normal;
          font-weight: 400;
          line-height: 68px;
          text-transform: uppercase;
        }

        .caption {
          color: var(--body-color);
          text-align: center;

          font-family: var(--font-jakarta);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
          text-transform: uppercase;
        }
      }
    }

    &--headImage {
      width: 1120px;
      height: 1480px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__themeImage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;

    &--imgBox {
      width: 722px;
      height: 541px;
      flex-shrink: 0;

      padding-left: 120px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &--desc {
      display: flex;
      width: 591px;
      justify-content: center;
      align-items: center;

      padding-right: 120px;

      p {
        color: var(--body-color);

        font-family: var(--font-jakarta);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
      }
    }
  }

  &__tools {
    width: 100%;
    display: flex;
    align-items: center;

    border-top: 1px solid var(--body-color);
    border-bottom: 1px solid var(--body-color);

    padding: 0 120px 0 120px;
    gap: 100px;

    &--title {
      color: #a4a4a4;

      font-family: var(--font-jakarta);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }

    &--toolName {
      display: flex;
      gap: 15px;

      color: var(--body-color);

      font-family: var(--font-cormorant);
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 44px;
      text-transform: uppercase;

      p:not(:last-child) {
        &::after {
          content: "|";
          margin-left: 15px;
        }
      }
    }
  }

  &__midImageBox {
    width: 100%;
    display: flex;
    justify-content: center;

    &--midImage {
      width: 1574px;
      height: 840px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__linkBox {
    width: 100%;
    display: flex;
    align-items: center;

    border-top: 1px solid var(--body-color);
    border-bottom: 1px solid var(--body-color);

    padding: 0 120px 0 120px;

    gap: 100px;

    &--linkTitle {
      color: #a4a4a4;
      font-family: var(--font-jakarta);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }

    &--links {
      color: var(--body-color);
      font-family: var(--font-cormorant);
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 44px;
      text-transform: uppercase;

      a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
      }
    }
  }

  &__longDesc {
    display: flex;
    gap: 50px;

    &--text {
      width: 55%;
      height: 745px;
      flex-shrink: 0;
      background: #2d2d2d;

      display: flex;
      justify-content: center;
      align-items: center;

      p {
        width: 70%;

        color: #fff;

        font-family: var(--font-jakarta);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
      }
    }

    &--descImage {
      width: 500px;
      height: 745px;

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
  }

  &__buttons {
    width: 100%;
    display: flex;

    border-top: 1px solid var(--body-color #111);
    background: #ffb800;
    padding-top: 13px;
    padding-bottom: 13px;

    &--prev,
    &--next {
      width: 50%;

      padding-left: 48px;
      padding-right: 48px;

      button {
        all: unset;
        color: #111;

        font-family: var(--font-cormorant);
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 44px;
        text-transform: uppercase;

        cursor: pointer;
      }

      button[disabled] {
        visibility: hidden;
      }
    }

    &--next {
      display: flex;
      justify-content: end;
    }
  }
}
