@import "../../styles/mixins";

.buttons {
  width: 100%;
  display: flex;

  border-top: 1px solid var(--body-color #111);
  background: var(--bg-color-secondary);
  padding-top: 13px;
  padding-bottom: 13px;

  .prev,
  .next {
    width: 50%;

    padding-left: 24px;
    padding-right: 24px;

    button {
      all: unset;
      color: #111;

      font-family: var(--font-cormorant);
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 44px;
      text-transform: uppercase;

      cursor: pointer;
    }

    button[disabled] {
      visibility: hidden;
    }
  }

  .next {
    display: flex;
    justify-content: end;
  }

  @include desktop {
    width: 100%;

    padding-top: 13px;
    padding-bottom: 13px;

    .prev,
    .next {
      width: 50%;

      padding-left: 48px;
      padding-right: 48px;

      button {
        font-size: 32px;
      }
    }
  }
}
