@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  width: 100%;
  height: 100px;

  margin: auto;

  overflow: hidden;
  position: relative;

  border-top: 1px solid var(--body-color);
  border-bottom: 1px solid var(--body-color);

  background: var(--body-bg);

  &::before,
  &::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  &__track {
    height: 100%;

    display: flex;

    align-items: center;

    animation: scroll 40s linear infinite;

    width: calc(250px * 14);

    gap: 50px;

    &--slide {
      height: 100px;
      width: 250px;

      p {
        font-size: 34px;
        font-family: var(--font-cormorant);
      }
    }
  }
}
