@import '../../styles/mixins';

.about {
  width: 100%;

  color: var(--body-color);

  font-family: var(--font-jakarta);

  overflow: hidden;

  .headBox {
    border-top: 1px solid var(--body-color);

    overflow: hidden;

    padding: 50px;

    p {
      font-size: 28px;
      font-style: normal;
      font-family: var(--font-cormorant);
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  .specialties {
    border-top: 1px solid var(--body-color);
    display: flex;
    flex-direction: column;

    gap: 25px;

    padding: 50px 0 50px 50px;

    .title {
      color: #a4a4a4;
      font-size: 20px;
      font-family: var(--font-jakarta);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    div {
      .specs {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;

        text-transform: uppercase;
        font-family: var(--font-cormorant);
        word-spacing: 16px;

        padding: 0;
        margin: 5px 9 5px 0;
      }
    }

    .verticalBar {
      display: none;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 50px;
    border-top: 1px solid var(--body-color);

    gap: 50px;

    .info {
      display: flex;
      flex-direction: column;

      gap: 50px;

      .name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;

        .fullname {
          font-size: 56px;
          font-style: normal;
          font-weight: 400;
          line-height: 56px;
          text-transform: uppercase;

          padding: 0;
          margin: 0;
        }

        p {
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          padding: 0;
          margin: 0;
        }
      }

      .contacts {
        p {
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .city {
          font-size: 18px;
        }
        .mail {
          font-size: 20px;
        }
      }
    }

    .photo {
      width: 270px;
      height: 270px;
      overflow: hidden;
      border: 15px solid var(--body-color);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: #615b5b;
      }
    }
  }

  .resume {
    padding: 50px;
    border-top: 1px solid var(--body-color);

    .shortDescription {
      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
      }
    }
  }

  .funFact {
    border-top: 1px solid var(--body-color);
    padding: 50px;

    p {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
    }
  }

  .cv {
    display: flex;
    flex-direction: column;

    gap: 60px;

    border-top: 1px solid var(--body-color);
    padding: 50px;

    p {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .education {
      display: flex;
      flex-direction: column;

      gap: 40px;

      .edu {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
          width: 100%;

          .school {
            font-size: 18px;
            font-family: var(--font-cormorant);
          }

          .program {
            font-size: 20px;
          }

          .eduDate {
            font-size: 16px;
          }

          p {
            margin: 0;
            padding: 3px 0;
          }
        }
      }
    }

    .experience {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      gap: 40px;

      .exp {
        display: flex;
        align-items: center;
        flex-direction: column;

        div {
          width: 100%;
          .employer {
            font-size: 18px;
            font-family: var(--font-cormorant);
          }

          .job {
            font-size: 20px;
          }

          .empDate {
            font-size: 16px;
          }

          p {
            margin: 0;
            padding: 3px 0;
          }
        }
      }
    }

    .lang {
      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
      }
    }
  }

  @include desktop {
    .headBox {
      padding: 120px 160px;
      p {
        font-size: 56px;
      }
    }

    .specialties {
      flex-direction: row;
      align-items: center;
      gap: 50px;

      padding: 0px 80px;

      .title {
        font-size: 20px;
      }

      div {
        display: flex;
        gap: 50px;

        p:not(:last-child) {
          &::after {
            content: '|';
            margin-left: 15px;
          }
        }

        .specs {
          font-size: 32px;
          line-height: 56px;
        }
      }

      .verticalBar {
        display: block;

        font-size: 32px;
        font-family: var(--font-cormorant);
      }
    }

    .card {
      padding: 140px 160px;
      flex-direction: row;
      align-items: start;

      .info {
        gap: 80px;

        .name {
          gap: 16px;

          .fullname {
            font-size: 56px;
          }

          p {
            font-size: 28px;
            font-style: normal;
          }
        }

        .contacts {
          p {
          }
          .city {
            font-size: 20px;
          }
          .mail {
            font-size: 28px;
          }
        }
      }

      .photo {
        width: 525px;
        height: 525px;
      }
    }

    .resume {
      padding: 120px 160px;

      display: flex;
      flex-direction: column;
      gap: 75px;

      .shortDescription {
        width: 80%;

        h3 {
          font-size: 28px;
        }

        p {
          font-size: 20px;
        }
      }
    }

    .funFact {
      padding: 120px 160px;

      h3 {
        font-size: 28px;
      }
      p {
        font-size: 20px;
        font-style: italic;
        span {
          font-size: 30px;
          font-style: normal;
        }
      }
    }

    .cv {
      padding: 120px 160px;

      h3 {
        font-size: 28px;
      }

      .education {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .edu {
          display: flex;
          align-items: center;
          flex-direction: row;

          gap: 30px;

          div {
            width: 33.3%;

            .school {
              font-size: 22px;
              font-family: var(--font-cormorant);
            }

            .program {
              font-size: 20px;
            }

            .eduDate {
              font-size: 18px;
            }
          }
        }
      }

      .experience {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .exp {
          display: flex;
          align-items: center;
          flex-direction: row;

          gap: 30px;

          div {
            width: 33.3%;
            .employer {
              font-size: 22px;
              font-family: var(--font-cormorant);
            }

            .job {
              font-size: 20px;
            }

            .empDate {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
