@import "../../styles/mixins";

.titleContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  justify-content: center;

  h1 {
    color: var(--body-color);
    text-align: center;
    font-family: var(--font-cormorant);
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  @include desktop {
    h1 {
      font-size: 84px;
    }
  }
}
