.darkModeBtn {
  position: absolute;

  right: 20px;
  top: 19px;
}

header {
  width: 100%;

  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;

  z-index: 10;

  background-color: var(--body-bg);

  .name {
    display: flex;
    align-items: center;

    font-family: var(--font-cormorant);
    font-size: 32px;
    font-weight: 100;
    color: var(--body-color);
    text-transform: uppercase;

    padding-left: 48px;
  }

  nav {
    font-family: var(--font-jakarta);
    padding-right: 137px;

    .list {
      display: flex;
      align-items: center;

      gap: 64px;

      ul {
        display: flex;
        justify-content: space-between;

        position: relative;

        gap: 64px;

        list-style-type: none;

        li {
          font-size: 28px;
          color: var(--body-color);

          cursor: pointer;

          .link {
            text-decoration: none;
            color: var(--body-color);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          .active-link {
            text-decoration: none;

            color: var(--body-color);
            font-weight: 700;
          }

          &:last-child {
            margin-right: 40px;
          }
        }
      }
    }
  }
}

.btnContainer {
  display: none;
}

@media screen and (max-width: 500px) {
  .darkModeBtn {
    left: 30px;
    top: 45%;
  }

  header {
    display: flex;

    padding: 24px 0 24px 0;

    .name {
      padding-left: 24px;

      font-size: 28px;
    }

    nav {
      height: 100vh;

      display: flex;
      flex-direction: column;

      position: absolute;

      padding-top: 78px;

      transform: translateX(-100%);

      .list {
        flex-direction: column;
        align-items: center;
        gap: 30px;

        background-color: var(--body-bg);

        ul {
          flex-direction: column;
          li {
            font-size: 24px;
          }
        }
      }
    }

    .nav-open {
      transform: translateX(0);
    }

    .btnContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding-right: 24px;

      .btn {
        display: flex;
        flex-direction: column;

        background: none;
        color: inherit;
        border: none;

        gap: 8px;
        padding: 0;

        div {
          width: 40px;
          height: 1.9px;

          background-color: var(--body-color);

          transition: all 0.9s ease;
        }
      }

      .btn.open div:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
      }
      .btn.open div:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
      }

      .btn.open div:nth-child(2) {
        opacity: 0;
      }
    }
  }
}
