@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.projectWrapper {
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: var(--body-color);
      text-align: center;
      font-family: var(--font-jakarta);
      font-size: 120px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }

    .down-arrow {
      position: absolute;
      top: calc(100vh - 300px);

      animation: jumpInfinite 2s infinite;
    }
  }
}
