@import "../../styles/mixins";

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: flex-start;

    gap: 40px;

    padding: 125px 0 78px 24px;

    h3 {
      text-align: center;
      font-family: var(--font-cormorant);
      font-size: 36px;
      color: var(--body-color);
      font-style: normal;
      font-weight: 400;
      line-height: 56px;
      text-transform: uppercase;

      padding: 0;
      margin: 0;
    }

    h1 {
      color: var(--body-color);
      font-family: var(--forn-jakarta);
      font-size: 120px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;

      padding: 0;
      margin: 0;
    }
  }

  @include desktop {
    gap: 122px;

    div {
      width: auto;

      padding: 175px 0 100px 0;

      h3 {
        font-size: 72px;
      }

      h1 {
        font-size: 400px;
      }
    }
  }
}
