@import '../../styles/mixins';

.wrapper__portrait {
  width: 130px;
  height: 130px;
  position: absolute;

  top: 23%;
  right: 8%;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  @include desktop {
    width: 300px;
    height: 300px;

    position: absolute;
    top: 5%;
    right: 25%;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__titles {
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: flex-start;

    gap: 40px;

    padding: 125px 20px 0 20px;

    h3 {
      text-align: center;
      font-family: var(--font-cormorant);
      font-size: 32px;
      color: var(--body-color);
      font-style: normal;
      font-weight: 400;
      line-height: 56px;
      text-transform: uppercase;

      padding: 0;
      margin: 0;
    }

    h1 {
      width: 100%;
      color: var(--body-color);
      font-family: var(--forn-jakarta);
      font-size: 120px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;

      padding: 0;
      margin: 0;
    }
  }

  @include desktop {
    gap: 122px;

    &__titles {
      width: auto;
      padding: 175px 0;

      h3 {
        font-size: 72px;
        padding-left: 15px;
      }

      h1 {
        font-size: 400px;
      }
    }
  }
}
