@import '../../styles/mixins';

.footerWrapper {
  width: 100%;

  background-color: var(--footer-bg);

  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 90px 0;

  gap: 100px;

  .info {
    display: flex;
    flex-direction: column;
    gap: 100px;

    &__contact {
      display: flex;
      flex-direction: column;
      gap: 50px;

      &--email {
        p {
          color: var(--footer-color);
          font-family: var(--font-jakarta);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          margin: 0;
        }
        .title {
          text-transform: uppercase;
          padding-bottom: 5px;
        }
      }
      &--connect,
      &--github {
        p {
          color: var(--footer-color);
          font-family: var(--font-jakarta);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
          margin: 0;
          padding: 0;
          padding-bottom: 5px;
        }

        a {
          text-decoration: none;
          cursor: pointer;
          color: var(--footer-color);
          font-family: var(--font-jakarta);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }

    &__aboutSite {
      span {
        color: var(--footer-color);
        font-family: var(--font-jakarta);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }

      p {
        color: var(--footer-color);
        font-family: var(--font-jakarta);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        margin: 0;
        padding: 0;
        padding-top: 5px;

        a {
          text-decoration: underline;
          color: inherit;
          padding-left: 5px;
        }
      }

      .copy {
        padding-top: 30px;
      }
    }
  }

  .fullName {
    width: 80%;
    span {
      color: var(--footer-color);
      font-family: var(--font-cormorant);
      font-size: 18px;
    }
    p {
      color: var(--footer-color);
      text-align: start;
      font-family: var(--font-jakarta);
      font-size: 80px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;

      margin: 0;
      padding: 0;
    }
  }

  @include desktop {
    gap: 130px;
    .info {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
    }

    .fullName {
      width: 100%;
      p {
        width: 100%;
        text-align: center;
        font-size: 150px;
      }
    }
  }
}
