.footerWrapper {
  width: 100%;

  background-color: var(--footer-bg);

  display: flex;
  flex-direction: column;
  .contact {
    display: flex;
    flex-direction: column;

    padding: 130px 160px;
    p {
      color: var(--footer-color);
      font-family: var(--font-jakarta);
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }

    &__links {
      &--link {
        text-decoration: none;
        cursor: pointer;
      }
    }
    &__copy {
      //
    }
  }
  .fullName {
    p {
      color: var(--footer-color);
      text-align: center;
      font-family: var(--font-jakarta);
      font-size: 176px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}
