.container {
  position: relative;
  width: 100%;
  /*  height: 100vh; */

  padding: 0;

  top: 0;
  left: 0;

  .project {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-self: center;

    position: absolute;

    margin: 0;
    padding: 0;

    background-color: var(--body-bg);

    will-change: transform;

    &:nth-child(1) {
      transform: translate(0px, 0px);
    }

    &:nth-child(2) {
      transform: translate(0px, 70px);
    }

    &:nth-child(3) {
      transform: translate(0px, 140px);
    }

    &:nth-child(4) {
      transform: translate(0px, 210px);
    }
    &:nth-child(5) {
      transform: translate(0px, 280px);
    }

    .projectInner {
      margin: 0;
      padding: 0;

      width: 100%;
      height: 80%;

      .link {
        text-decoration: none;
      }

      &__header {
        display: flex;
        justify-content: space-between;

        font-family: var(--font-jakarta);

        background-color: var(--body-bg);
        border-top: 1px solid var(--body-color);
        border-bottom: 1px solid var(--body-color);
        color: var(--body-color);

        padding: 10px 48px 10px 48px;

        transition: all 0.4s ease-in-out;

        &:hover {
          color: #a4a4a4;
        }

        &--customer {
          font-size: 24px;
          margin: 0;
          padding: 0;
        }

        &--name {
          font-family: var(--font-cormorant);
          font-size: 32px;
          text-transform: uppercase;
          margin: 0;
          padding: 0;
        }

        &--date {
          font-size: 20px;

          margin: 0;
          padding: 0;
        }
      }

      &__image {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
