/* .helper {
  width: 100%;
  height: 200vh;

  background-color: red;
} */

.container {
  position: relative;
  width: 100%;
  height: 100vh;

  margin: 0;
  padding: 0;

  background-color: cyan;

  top: 863px;

  .project {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-self: center;

    position: absolute;

    margin: 0;
    padding: 0;

    will-change: transform;

    &:nth-child(1) {
      transform: translate(0px, 0px);
    }

    &:nth-child(2) {
      transform: translate(0px, 69px);
    }

    &:nth-child(3) {
      transform: translate(0px, 138px);
    }

    &:nth-child(4) {
      transform: translate(0px, 207px);
    }
    &:nth-child(5) {
      transform: translate(0px, 276px);
    }

    .projectInner {
      margin: 0;
      padding: 0;

      &__header {
        display: flex;
        justify-content: space-between;

        font-family: var(--font-jakarta);
        font-size: 28px;

        background-color: var(--body-bg);
        border-top: 1px solid var(--body-color);
        border-bottom: 1px solid var(--body-color);
        color: var(--body-color);

        padding: 10px 48px 10px 48px;

        &--customer {
          margin: 0;
          padding: 0;
        }

        &--name {
          font-family: var(--font-cormorant);
          font-size: 32px;
          text-transform: uppercase;
          margin: 0;
          padding: 0;
        }

        &--date {
          margin: 0;
          padding: 0;
        }
      }

      &__image {
        width: 100%;
        height: 683px;

        display: flex;
        justify-content: center;
        align-items: center;

        overflow: hidden;

        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
